FlowProcessMultiSelectChoices/flows/Process_Line_Item_Service_Dates-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Process_Line_Items</name>
        <label>Process Line Items</label>
        <locationX>535</locationX>
        <locationY>657</locationY>
        <apexClass>ListHelper</apexClass>
        <connector>
            <targetReference>Get_Product_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>inputList</name>
            <value>
                <elementReference>vaInputLineItemList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vaInputLineItemList</assignToReference>
            <name>remainderList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vaNextLinteItemId</assignToReference>
            <name>nextItem</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vaLastItem</assignToReference>
            <name>lastItem</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>InitializeListVar</name>
        <label>InitializeListVar</label>
        <locationX>294</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>vaInputLineItemList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_all_that_apply</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_new_IPAD32_Service_Date</name>
        <label>set new IPAD32 Service Date</label>
        <locationX>531</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>vaLineServiceDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ciPAD32ServiceDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_new_iPHONE5B64_Service_Date</name>
        <label>set new iPHONE5B64 Service Date</label>
        <locationX>292</locationX>
        <locationY>1059</locationY>
        <assignmentItems>
            <assignToReference>vaLineServiceDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ciPHONE5B64ServiceDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateLine</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ciPAD32</name>
        <dataType>String</dataType>
        <value>
            <stringValue>iPAD32</stringValue>
        </value>
    </constants>
    <constants>
        <name>ciPAD32ServiceDays</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>31.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>ciPHONE5B64</name>
        <dataType>String</dataType>
        <value>
            <stringValue>iPHONE5B64</stringValue>
        </value>
    </constants>
    <constants>
        <name>ciPHONE5B64ServiceDays</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>All_Lines_Done</name>
        <label>All Lines Done?</label>
        <locationX>738</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Process_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope not yet</defaultConnectorLabel>
        <rules>
            <name>Yep_all_done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaLastItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Done</targetReference>
            </connector>
            <label>Yep all done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Lines_Found</name>
        <label>Any Lines Found?</label>
        <locationX>297</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Select_the_Products_to_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes.. Go Ahead..</defaultConnectorLabel>
        <rules>
            <name>No_Opty_Lines_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_Products_at_all</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Lines</targetReference>
            </connector>
            <label>No Opty Lines Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opty_Specified</name>
        <label>Is Opty Specified?</label>
        <locationX>296</locationX>
        <locationY>129</locationY>
        <defaultConnector>
            <targetReference>Are_there_any_Products_at_all</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes.. Go Ahead..</defaultConnectorLabel>
        <rules>
            <name>No_Opty_Specified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vaOptyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vaOptyID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Opty</targetReference>
            </connector>
            <label>No Opty Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch_on_Product_Codes</name>
        <label>Switch on Product Codes</label>
        <locationX>297</locationX>
        <locationY>906</locationY>
        <defaultConnector>
            <targetReference>All_Lines_Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to do</defaultConnectorLabel>
        <rules>
            <name>iPAD32</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaLineItemProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ciPAD32</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_new_IPAD32_Service_Date</targetReference>
            </connector>
            <label>iPAD32</label>
        </rules>
        <rules>
            <name>iPhone5B64</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaLineItemProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ciPHONE5B64</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_new_iPHONE5B64_Service_Date</targetReference>
            </connector>
            <label>iPhone5B64</label>
        </rules>
    </decisions>
    <description>Version which loops through all the choices selected in the Mult-Select choice and updates the date according to the product codep</description>
    <dynamicChoiceSets>
        <name>ShowProducts</name>
        <dataType>String</dataType>
        <displayField>Line_Summary__c</displayField>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaOptyID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Process Line Item Service Dates</label>
    <recordLookups>
        <name>Are_there_any_Products_at_all</name>
        <label>Are there any Products at all?</label>
        <locationX>296</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>Any_Lines_Found</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaOptyID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Code</name>
        <label>Get Product Code</label>
        <locationX>293</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Switch_on_Product_Codes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaNextLinteItemId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>vaLineItemProductCode</assignToReference>
            <field>Product_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaLineServiceDate</assignToReference>
            <field>ServiceDate</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateLine</name>
        <label>updateLine</label>
        <locationX>737</locationX>
        <locationY>1027</locationY>
        <connector>
            <targetReference>All_Lines_Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaNextLinteItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>vaLineServiceDate</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>1094</locationX>
        <locationY>815</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Finish</name>
            <fieldText>Finished processing all the products</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>905</locationX>
        <locationY>655</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Finish_0</name>
            <fieldText>Encountered an error. Please contact your administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Need_Opty</name>
        <label>Need Opty</label>
        <locationX>569</locationX>
        <locationY>126</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>NeedaOpty</name>
            <fieldText>You need to specify which Opportunity to work on.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Lines</name>
        <label>No Lines</label>
        <locationX>581</locationX>
        <locationY>396</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>NeedaOpty_0</name>
            <fieldText>Could not find any line items to work on.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Select_the_Products_to_Process</name>
        <label>Select the Products to Process</label>
        <locationX>294</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>InitializeListVar</targetReference>
        </connector>
        <fields>
            <name>Select_all_that_apply</name>
            <choiceReferences>ShowProducts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select all that apply</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Is_Opty_Specified</startElementReference>
    <variables>
        <name>vaInputLineItemList</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaLastItem</name>
        <dataType>Boolean</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaLineItemProductCode</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaLineServiceDate</name>
        <dataType>Date</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaNextLinteItemId</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaOptyID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0063000000nkVih</stringValue>
        </value>
    </variables>
</Flow>
